{{!< layouts/main}}

<h1>Carritos</h1>
<ul>
    {{#each carts}}
        <li>
            <h2>Carrito ID: {{this._id}}</h2>
            <ul>
                {{#each this.products}}
                    <li>
                        <h3>{{this.product.title}}</h3>
                        <p>Cantidad: {{this.quantity}}</p>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>